<%= link_to 'All Restaurants', restaurant_path %>

  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.location %></p>
  <p><%= @restaurant.price_range %></p>
  <p><%= @restaurant.description %></p>
  <p><%= @restaurant.cuisine %></p>
